USE [master]
GO
/****** Object:  Database [QLChiTieu]    Script Date: 3/7/2022 8:12:42 PM ******/
CREATE DATABASE [QLChiTieu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLChiTieu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLChiTieu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLChiTieu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLChiTieu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLChiTieu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLChiTieu]
GO
/****** Object:  Table [dbo].[CHITIEU]    Script Date: 3/7/2022 8:12:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIEU](
	[MACHITIEU] [varchar](10) NOT NULL,
	[VANDECHITIEU] [nvarchar](300) NOT NULL,
	[NGAY] [date] NOT NULL,
	[SOTIEN] [varchar](20) NOT NULL,
	[TRUONGAN] [varchar](20) NOT NULL,
	[THEANH] [varchar](20) NOT NULL,
	[CHIDUNG] [varchar](20) NOT NULL,
	[HUUTHANG] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIEU] PRIMARY KEY CLUSTERED 
(
	[MACHITIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIEU] ([MACHITIEU], [VANDECHITIEU], [NGAY], [SOTIEN], [TRUONGAN], [THEANH], [CHIDUNG], [HUUTHANG]) VALUES (N'00001', N'Đặt cọc trọ (tháng 2 và tháng 3)', CAST(N'2022-02-18' AS Date), N'3000000', N'750000', N'750000', N'750000', N'750000')
INSERT [dbo].[CHITIEU] ([MACHITIEU], [VANDECHITIEU], [NGAY], [SOTIEN], [TRUONGAN], [THEANH], [CHIDUNG], [HUUTHANG]) VALUES (N'00002', N'Đồ dùng thiết yếu', CAST(N'2022-02-18' AS Date), N'235000', N'0', N'117500', N'117500', N'0')
INSERT [dbo].[CHITIEU] ([MACHITIEU], [VANDECHITIEU], [NGAY], [SOTIEN], [TRUONGAN], [THEANH], [CHIDUNG], [HUUTHANG]) VALUES (N'00003', N'Màn + mì tôm omachi', CAST(N'2022-02-18' AS Date), N'360000', N'0', N'360000', N'0', N'0')
GO
USE [master]
GO
